@charset "utf-8";

body {
    background-color: #f7f8fc;
}

/* header */

header nav.navbar-color {
    background-color: #175563;
    padding-bottom: 10px;
    position: fixed;
}
header div.center img.logo {
    width: 55px;
}
header .shuffle img {
    width: 35px;
}
header div.center{
    padding-top: 10px;
    text-align: center;
    display: block;
}
header .shuffle{
    display: inline;
    float: right;
    margin: 5px;
    margin-top: -2px;
}
header div.center span {
    font: 24px bold;
    color: #e0eae1;
}

/* search area */

div.search {
    margin-top: 75px;
    margin-left: 45px;
    margin-right: 45px;
}

div.search .input-group{
    width: 100%;
}

div.search div .btn-purple {
    background-color: #c6a9e1;
    color: #f7f8fc;
    font-size: 15px;
    border-radius: 0px 15px 15px 0px;
}

div.search div input.form-control {
    border-radius: 15px;
    border-color: #e3d7f1;
    font-size: 15px;
}

@media (max-width: 725px){
    div.search {
        margin-left: 30px;
        margin-right: 30px;
    }
}

div.titles {
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 5%;
    font-size: 15px;
}

hr.division {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
}

vid.titles div div {
    margin-top: 20px;
}

hr.partition {
    margin-left: 50%;
    margin-right: 50%;
    border-color: #c6a9e1;
}

@media (max-width: 500px){
    div.titles {
        margin-top: 15px;
        margin-left: 5%;
    }
    div.titles {
        margin-left: 70px;
    }
}

@media (min-width: 500px) and (max-width: 1500px){
    div.titles {
        margin-left: 80px;
    }
}