@charset "utf-8";

body {
    background-color: #f7f8fc;
}

/* header */

header nav.navbar-color {
    background-color: #175563;
    padding-bottom: 10px;
    position: fixed;
}
header div.center img.logo {
    width: 10%;
}
header .shuffle img {
    width: 50px;
}
header div.center{
    padding-top: 10px;
    text-align: center;
    display: block;
}
header .shuffle{
    display: inline;
    float: right;
    margin: 5px;
    margin-top: -2px;
}
header div.center span {
    font: 24px bold;
    color: #e0eae1;
}

@media (max-width: 700px){
    header div.center img.logo {
        margin-top: 9px;
        width: 15%;
    }
    header div.center span {
        font-size: 22px;
        margin-top: 10px;
    }
    header .shuffle img{
        width: 45px;
    }
    div.search div.form-group{
        margin-top: 100px;
    }
}

@media (max-width: 1000px) and (min-width: 700px){
    header div.center img.logo {
        margin-top: 2px ;
    }
    header div.center span {
        font-size: 20px;
    }
    header .shuffle img{
        width: 40px;
    }
}

/* search area */

div.search {
    margin-top: 110px;
    margin-left: 40px;
    margin-right: 40px;
}

div.search .input-group{
    width: 100%;
}

div.search div .btn-purple {
    background-color: #c6a9e1;
    color: #f7f8fc;
    font-size: 15px;
    border-radius: 0px 15px 15px 0px;
}

div.search div input.form-control {
    border-radius: 15px;
    border-color: #e3d7f1;
}
